<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.knip.base.TableCellView">
      <TableCellView
            TableCellViewFactory="org.knime.knip.imglib2.ui.ImgLib2Viewer">
      </TableCellView>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            expert-flag="false"
            factory-class="org.knime.knip.bdv.BdvReaderNodeFactory"
            id="org.knime.knip.bdv.BdvReaderNodeFactory">
      </node>
   </extension>
</plugin>
